@media (max-width: 40em) {

    /* Navbar */

    nav {
        display: none;
    }

    .desktop-item {
        display: none;
    }

    .mobile-item {
        display: unset;
        margin-right: 1rem;
        margin-top: 0.4rem;
        cursor: pointer;
        z-index: 1000;
        color: black;
    }

    .mobile-item:hover {
        color: tomato;
    }

    #close-menu {
        float: right;
        margin-top: 0.8rem;
        margin-right: 1rem;
        display: unset;
        cursor: pointer;
        color: white;
    }

    #close-menu:hover {
        color: tomato;
    }

    .burger-menu {
        border-bottom: .1rem solid black;
        width: 1rem;
        margin: .3rem 0 0 0;
    }


    .social-media {
        width: 1.5rem;
    }

    .social-container {
        width: 15rem;
    }

    .sideBar {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        display: block;
        background-color: black;
        height: 100rem;
        transition: width 300ms;
        width: 0;
        overflow: hidden;

    }

    .mobile-nav {
        width: 15rem;
        height: 20rem;
    }

    .sidebar-item {
        display: unset;
        color: white;
        text-transform: uppercase;
    }

    .sidebar-item a {
        color: white;
    }

    .sidebar-item a:hover {
        color: tomato;
    }

    li {
        margin: 0 0 2rem 0;
    }

    ul {
        margin: 0;
    }


    

    /* main content */

    .background {
        background-image: url(../pictures/wallpaper-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
    
    }
    main {
        min-height: 100vh;
    }
    .name {
        margin-top: 9rem
    }

    h1 {
        font-size: 2rem;
    }

    /* About me */

    p {
        font-size: 1rem;
        padding: 0 0 3rem 0;
        line-height: 1.5rem;
    }

    .picOfMe {
        padding: 1rem 0 0 0;
        width: 20rem;
    }

    .aboutme-h2 {
        padding: 2rem 0 1rem 0;
    }

    /* Portfolio */

    .mobile-column {
        flex-direction: column;
    }

    .project-one {
        background: url('../pictures/date-time.jpg') no-repeat;
        background-position: center;
        background-size: cover;
    
    }
    .project-two {
        background: url('../pictures/taxet-based-game.jpg') no-repeat;
        background-position: center;
        background-size: cover;
    }
    .project-three {
        background: url('../pictures/img-slideshow.jpg') no-repeat;
        background-position: center;
        background-size: cover;
    }

    /* Contact */

    .palm-img {
        padding: 0;
        width: 20rem;

        
    }

    .contact-h2 {
        padding: 4rem 0 1rem 0;
    }

    .mobile-footer {
        width: 15rem;
    }

  
}